extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/pagination.pug 
include ../../mixins/filterStatus.pug 
include ../../mixins/search.pug 
include ../../mixins/form-change-multi.pug 
include ../../mixins/form-submit.pug 
include ../../mixins/alert.pug 

block main 
  +alert("5000")
  +headTitle("Trang danh sách sản phẩm")
  .div.filter-container
    h3 Bộ lọc / Tìm kiếm
    +filter-status(filterStatus)
    +searchBox(keyword)
    +formChangeMulti("/admin/products/change-multi?_method=PATCH")
    a(
        href="/admin/products/create"
        class="create-product"
    ) + Thêm mới
    
  .product-container
    table.product-table
      thead
        tr
          th 
            input#check-all(type="checkbox")
          th STT
          th Hình ảnh
          th Tiêu đề
          th Giá
          th Vị trí
          th Trạng thái
          th Hành động
      tbody
        each item, index in products
          tr
            td 
              input(
                type="checkbox" 
                class="check-item"
                id = item.id
              )
            td #{index + 1}
            td 
              img.product-img(src=item.thumbnail, alt=item.title)
            td #{item.title}
            td #{item.price}$
            td 
              input(
                type="number"
                value=item.position 
                style="width: 30px"
                position-button 
                id = item.id 
              )
            td 
              if item.status == "active"
                  button(
                    class = `btn-status active`
                    data-status = item.status
                    data-id = item.id
                  ) Hoạt động
              else
                  button(
                    class = `btn-status inactive`
                    data-status = item.status 
                    data-id = item.id
                  ) Ngưng hoạt động
            td 
              a(
                href=`/admin/products/edit/${item.id}`
                class="btn-edit"
                id = item.id
              ) Sửa
              button(
                class="btn-delete"
                id = item.id
              ) Xóa
              a(
                href=`/admin/products/detail/${item.id}`
                class="btn-detail"
              ) Chi tiết 
  +pagination(pagination)
  +formSubmit(`/admin/products/change-status`, "form-change-status")
  +formSubmit("/admin/products/delete-product", "form-delete-product")

  script(src="/admin/js/product.js")
